*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
.container{
    width: 500px;
    border: 1px , solid;
    border-radius: 5px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    padding: 20px;
    /* margin: 20px; */
}
.content{
    
    color: aliceblue;

}
.button{
    border: 1px , solid;
    border-radius: 5px;
    padding: 10px;
}